<header class="bg-white shadow">
  <div class="container mx-auto py-20 px-24"> 
    <h1 class="text-3xl font-bold leading-tight text-gray-900">
      The United Kingdom's Largest Black British Forum
    </h1>
    <p class="mb-4">Share and explore black content, topics, breaking stories and viral videos on the internet!</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-black btn-large mr-2" %>
  </div>
</header>