<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<style>
.bannerFondo{
        height: 400px;
}

.-mt-70 {
    margin-top: -21rem;
}
</style>
<div>      
	   <div class="bannerFondo bg-left-top bg-auto bg-repeat-x" style="background-image: url('/assets/Back.png');background-repeat: repeat; ">
	
        </div>

        <div>
          <div class="-mt-70">
            <div class="w-full text-center">
              <h1 class="font-bold text-5xl text-white">
                  BLKroom aka Blackroom
              </h1>

            <div class="w-full text-center">
                <div class="w-3/5 mx-auto p-1 pr-0 flex items-center">
                  <p class="text-sm tracking-widest text-white">
                        <b>BLKroom</b> is a discussion board/forum which simply aims to be the <i><b>largest, broadest, most informative</b></i> discussion forum for <b>the people of African, African American & Caribbean heritage.</b>You can discuss anything that interests you on this forum:
                    </p>
                </div>
                <br>
                <ul class="text-sm tracking-widest text-white">
                    <li>Report breaking news stories.</li>
                    <li>Share your experience of a particular place, event, product or service.</li>
                    <li>Share your knowledge/opinion on topics of interest.</li>
                    <li>Ask questions, or make requests and receive helpful answers from other members of the forum.</li>
                </ul>
            </div>
          </div>


        <div class="container mx-auto">      
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 lg:grid-cols-3">
      
              <div class="p-2 sm:p-10 text-center cursor-pointer">
                  <div class="py-16 max-w-sm rounded overflow-hidden shadow-lg hover:bg-white transition duration-500  bg-white">
                      <div class="space-y-10">
                          <i class="fas fa-pen" style="font-size:48px;"></i>
                          
                          <div class="px-6 py-4">
                              <div class="space-y-5">
                                  <div class="font-bold text-xl mb-2">Post</div>
                                  <p class="text-gray-700 text-base">
                                      Members can share content by posting stories, links, images, and videos.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      
              <div class="p-2 sm:p-10 text-center cursor-pointer text-white"> 
                  <div class="py-16 max-w-sm rounded overflow-hidden shadow-lg bg-gray-900 hover:bg-gray-900 transition duration-500">
                      <div class="space-y-10">
                        <i class="fas fa-comment" style="font-size:48px;"></i>
                          <div class="px-6 py-4">
                              <div class="space-y-5">
                                  <div class="font-bold text-xl mb-2">Comment</div>
                                  <p class="text-base">
                                      Members comments on posts. Comments provide discussion and often humour.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>  
              <div class="p-2 sm:p-10 text-center cursor-pointer translate-x-2">
                  <div class="py-16 max-w-sm rounded overflow-hidden shadow-lg hover:bg-white transition duration-500 bg-white ">
                      <div class="space-y-10">
                          <i class="fas fa-arrow-alt-circle-up" style="font-size:48px;"></i>
                          <div class="px-6 py-4">
                              <div class="space-y-5">
                                  <div class="font-bold text-xl mb-2">Vote</div>
                                  <p class="text-gray-700 text-base">
                                      Comments & posts can be upvoted. The most interesting content rises to the top.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
      
          </div>
        </div> 
      </div>
  </div>