<header class="bg-white shadow">
  <div class="container mx-auto py-20 px-24"> 
    <h1 class="text-3xl font-bold leading-tight text-gray-900">
      Discover popular black content on the internet
    </h1>
    <p class="mb-4">Explore BLKroom for the most popular black content, topics, breaking stories and viral videos on the internet!</p>

    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-gray-700 hover:bg-gray-600 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
          SIGN UP
        </a>
      </div>
    </div>
  </div>
</header>