      <div class="mx-auto container px-24 mx-auto pt-6">
        <div class="bg-gray-100 p-4 border-t-2 bg-opacity-5 rounded">    
            <div class="flex mb-2 items-center justify-between">
              <div>
                <span class="text-md font-semibold inline-block py-1 text-black">
                  Start
                </span>
              </div>

              <div class="text-right">
                <span class="text-md font-semibold inline-block py-1 text-black">
                  Finish
                </span>
              </div>
            </div>


            <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-300">
              <div style="width:33%" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-black">
                
              </div>
            </div>     
        </div>

        <div class="bg-white">
          <div class="main-images px-4 py-3">

                        <h1 class="text-xl font-bold mb-4">Choose rooms you'll like to follow</h1>

            <div class="images grid grid-cols-1 md:grid-cols-5 gap-4">
                <div class="bg-white rounded-lg shadow-lg">
                  <div class="rounded-t-lg bg-cover bg-gradient-to-r from-red-500" style="background-image:
                  linear-gradient(
                  rgba(0, 0, 0, 0.45), 
                  rgba(0, 0, 0, 0.45)
                  ),
                  url('https://images.nappy.co/uploads/medium/1071592703029k2bjlrlewb1ty9rqnwyv8nsdbeo1rxqb5asdczbbaue6p5st3h9c8rvjvrbjmkdjv07dtc9ajxtf7mxgv4njwnkoeyqta94pdf6h.jpg?sharp=13');">

                    <div class="bottom-left pt-24 p-2">
                      <span class="text-2xl font-medium text-white">News & Gossip</span>
                    </div>
                  </div>

                  
                  <div class="text-center p-2">
                    <button class="inline-block py-2 px-10 text-xs text-white font-semibold leading-none bg-black rounded">
                      Subscribe
                    </button>
                  </div>
                </div>

                <div class="bg-white rounded-lg shadow-lg">
                  <div class="rounded-t-lg bg-cover bg-gradient-to-r from-red-500" style="background-image:
                  linear-gradient(
                  rgba(0, 0, 0, 0.45), 
                  rgba(0, 0, 0, 0.45)
                  ),
                  url('https://images.nappy.co/uploads/medium/1071592702368xrbdo2g0pyizymlo1gezvy7xh49vlz0mmtxswm2uu9ob03sf3kcuj9sndtkjqtbrkjcejoyhf7dizw4muem915ueji2mg3t7aavp.jpg?sharp=13');">

                    <div class="bottom-left pt-24 p-2">
                      <span class="text-2xl font-medium text-white">Business</span>
                    </div>
                  </div>

                  
                  <div class="text-center p-2">
                    <button class="inline-block py-2 px-10 text-xs text-white font-semibold leading-none bg-black rounded">
                      Subscribe
                    </button>
                  </div>
                </div>

                <div class="bg-white rounded-lg shadow-lg">
                  <div class="rounded-t-lg bg-cover bg-gradient-to-r from-red-500" style="background-image:
                  linear-gradient(
                  rgba(0, 0, 0, 0.45), 
                  rgba(0, 0, 0, 0.45)
                  ),
                  url('https://images.nappy.co/uploads/medium/11159193199410xrpefledgcdroubsuctxgg4nn17lzj3iegcrqnyzb4nevb35xvtz2dekviqizoacnjeldrkofhucqq58apmdrpnxbd9dv80bur.jpg?sharp=13');">

                    <div class="bottom-left pt-24 p-2">
                      <span class="text-2xl font-medium text-white">Music</span>
                    </div>
                  </div>

                  
                  <div class="text-center p-2">
                    <button class="inline-block py-2 px-10 text-xs text-white font-semibold leading-none bg-black rounded">
                      Subscribe
                    </button>
                  </div>
                </div>

               <div class="bg-white rounded-lg shadow-lg">
                  <div class="rounded-t-lg bg-cover bg-gradient-to-r from-red-500" style="background-image:
                  linear-gradient(
                  rgba(0, 0, 0, 0.45), 
                  rgba(0, 0, 0, 0.45)
                  ),
                  url('https://images.nappy.co/uploads/medium/1621592268526lytqbbpomgqoyr6tmw6b3h7x4aalnw783zjvb93f6pqhe3tzjdp0hjftkqx2b94wsyfigvl2p9f9ppykds55phafkcpqot2adlf8.jpg?sharp=13');">

                    <div class="bottom-left pt-24 p-2">
                      <span class="text-2xl font-medium text-white">Politics</span>
                    </div>
                  </div>

                  
                  <div class="text-center p-2">
                    <button class="inline-block py-2 px-10 text-xs text-white font-semibold leading-none bg-black rounded">
                      Subscribe
                    </button>
                  </div>
                </div>

                <div class="bg-white rounded-lg shadow-lg">
                  <div class="rounded-t-lg bg-cover bg-gradient-to-r from-red-500" style="background-image:
                  linear-gradient(
                  rgba(0, 0, 0, 0.45), 
                  rgba(0, 0, 0, 0.45)
                  ),
                  url('https://media.npr.org/assets/img/2016/06/03/1_blackmencode-reddingrucker_computer-edit_wide-9f1fbcd2af0a9ebdd4a081fe27ac1ea6bfb95256-s1600-c85.jpg');">

                    <div class="bottom-left pt-24 p-2">
                      <span class="text-2xl font-medium text-white">Education</span>
                    </div>
                  </div>

                  
                  <div class="text-center p-2">
                    <button class="inline-block py-2 px-10 text-xs text-white font-semibold leading-none bg-black rounded">
                      Subscribe
                    </button>
                  </div>
                </div>
            </div>
        </div>
          
        
          
          <div class="w-full p-4 text-right bg-gray-100 text-gray-500">
            <%= link_to 'Next', next_wizard_path, class: "inline-block py-4 px-4 text-xs text-white font-semibold leading-none bg-black rounded" %>
          </div>
        </div>
      </div>