<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <div class="mb-6">
     <br/>
      <%= f.text_field field, class: "input", placeholder: "Invite by email" %>
    </div>
  <% end -%>

  <div class="mb-6">
    <%= f.submit "Send Invitation", class: "btn btn-small btn-white text-sm mr-2" %>
  </div>
<% end %>