<% content_for :room_label, "All Rooms" %>

<% content_for :primary_content do %>
  <div class="lg:p-10 pt-10 pb-10 px-4">
    <h1 class="text-xl font-normal mb-6">All Rooms</h1>
    <%= render @rooms %>
  </div>
<% end %>


<% content_for :secondary_content do %>
  <div class="px-8 pt-6 pb-8">

    <% if current_user.admin_rights == true %>
      <%= link_to 'Create Room', new_room_path, class: "btn btn-small btn-black my-2 block text-center" if user_signed_in? %>
    <% end %>
  </div>
<% end %>

<%= render "basic_layout" %>