<h3 class="font-light mb-4">Posting to BLKroom</h3>
<ol class="list-decimal leading p-o text-sm">
	<li class="border-b font-semibold py-1">Think before you post</li>
  	<li class="border-b font-semibold py-1">Post black relevent content</li>
  	<li class="border-b font-semibold py-1">Please post all threads in the right section</li>
  	<li class="border-b font-semibold py-1">No bullying and harassing other members</li>
  	<li class="border-b font-semibold py-1">Look for the original source of content</li>
  	<li class="border-b font-semibold py-1">Don't create the same thread in different forums</li>
  	<li class="border-b font-semibold py-1">Search for duplicates before posting</li>
  	<li class="border-b font-semibold py-1">Read the community's rules</li>
</ol>