<% content_for :room_label, "Results for #{params[:q]}" %>
<div class="bg-gray-700 text-white mb-6">
  <div class="container py-10 px-24 mx-auto">
    <h1 class="lg:text-3xl text-lg">Results for "<%= params[:q] %>"</h1>
  </div>
</div>
​
<% if @post_results.exists? %>
  <div class="w-full md:w-2/3 m-auto mb-6 container py-10 px-24 mx-auto">
    <div class="bg-white shadow rounded-sm">
      <h3 class="uppercase text-sm text-gray-700 tracking-wide font-semibold px-4 pt-2 border-t border-r border-l border-gray-200 rounded-t">Posts</h3>
      <%= render partial: "post_result", collection: @post_results %>
    </div>
  </div>
<% end %>
​
<% #if @room_results.exists? %>
  <!-- <div class="w-full md:w-2/3 m-auto pr-0 md:pr-6 mb-6 container py-10 px-24 mx-auto">
    <div class="bg-white shadow rounded-sm">
      <h3 class="uppercase text-sm text-gray-700 tracking-wide font-semibold px-4 pt-2 border-t border-r border-l border-gray-400 rounded-t">Rooms</h3>
      <%# render partial: "room_result", collection: @room_results %>
    </div>
  </div> -->
<%# end %>
​
<%# if @user_results.exists? %>
  <!-- <div class="w-full md:w-2/3 m-auto pr-0 md:pr-6 mb-6">
    <div class="bg-white shadow rounded-sm">
      <h3 class="mt-4 uppercase text-sm text-gray-700 tracking-wide font-semibold px-4 pt-2 border-t border-r border-l border-gray-400 rounded-t">Users</h3>
      <%# render partial: "user_result", collection: @user_results %>
    </div>
  </div> -->
<%# end %>
​ <!--#@room_results.empty? -->
<% if @post_results.empty? %>
  <div class="w-full md:w-2/3 m-auto mb-6 container py-10 px-24 mx-auto">
    <div class="bg-white shadow rounded-sm">
      <p class="text-xl p-6">Your search returned 0 results</p>
    </div>
  </div>
<% end %>